/* unity class */

.height-100 {
    height: 100vh;
}

body {
    color: #333;
    font-style: normal;
    font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    line-height: 1.45;
    font-weight: 400;
}

.hide {
    display: none;
}

.navbar, .navbar a {
    transition: all 0.5s;
    background-color: transparent;
    border: none;
}

.navbar-brand>img {
    display: inline;
    width: 50px;
    height: 50px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #eee;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #eee;
}

.high-nav {
    height: 80px;
}

.high-nav .container, .high-nav .navbar-header, 
.high-nav .navbar-nav, .high-nav .navbar-nav li, .high-nav .navbar-nav a {
    height: 100%;
}

.high-nav .navbar-nav a {
    line-height: 50px;
    font-size: 18px;
}

.high-nav .navbar-brand {
    height: 100%;
    font-size: 30px;
    line-height: 50px;
}

section {
    height: 100vh;
}

.carousel, .carousel-inner, .carousel-inner .item, .carousel-inner .item img {
    height: 100%;
}

.carousel-inner img {
    width: auto;
}

.carousel-indicators li {
    margin:0 10px;
}

.carousel-indicators li.active {
    margin:0 10px;
    position: relative;
    top: 1px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section:last-child {
    align-items: flex-end;
    justify-content: center;
}

.expand-img {
    display: flex;
    background: gray;
    width: 300px;
    height: 300px;
    opacity: 0;
}

.ani-up {
    display: flex;
    background: gray;
    width: 150px;
    height: 150px;
    margin: 0 50px;
    display: none;
}

.ani {
    display: flex;
    background: gray;
    width: 150px;
    height: 150px;
    margin: 0 50px;
    display: none;
    font-size: 50px;
    color: white;
    line-height: 150px;
    text-align: center;
}

.delay-1 {
    animation-delay: 0.25s;
}

.delay-2 {
    animation-delay: 0.5s;
}

.delay-3 {
    animation-delay: 0.75s;
}

.delay-4 {
    animation-delay: 1s;
}

.flex-show {
    display: flex;
    justify-content: center;
}

.carousel-inner .carousel-caption {
    position: absolute;
    font-size: 48px;
    top: 50%;
}

.contact-me {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.see-movie {
    background: #333;
    transition: all 0.5s;
    background: #fff;
}

.video-mask {
    width: 720px;
    height: 410px;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -360px;
    margin-top: -205px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.see-movie-btn {
    -webkit-appearance: none;
    -webkit-user-select: none;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 46px;
    letter-spacing: normal;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
}

.last-section {
    background-image: url(waibaoyuan.jpg);
    background-size: cover;
}

.wx-img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
}

.footer, .footer-nav a {
    color: #fff;
}

.footer {
    width: 100%;
    background:-webkit-linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,0.7));
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-brand {
    width: 60px;
    position: relative;
    top: -30px;
}

/* 面包导航 */
.target-hamburger {
    width: 88px;
    height: 88px;
    position: fixed;
    top: 79px;
    right: 53px;
    cursor: pointer;
    z-index: 102;
}

.hamburger {
    width: 18px;
    height: 18px;
    list-style: none;
    margin: -9px 0 0 -9px;
    top: 50%;
    left: 50%;
    padding: 0;
    position: absolute;
}

.hamburger .bun {
    background-color: #343434;
    width: 100%;
    height: 1.5px;
    position: absolute;
    top: 50%;
    margin-top: -.75px;
    transform: translateY(-3.75px);
    z-index: 102;
    transition: transform 1s cubic-bezier(.23,1,.32,1);
}

.hamburger .bun:nth-child(2) {
    transform: translateY(3.75px);
}

.hamburger::after {
    content: '';
    width: 44px;
    height: 44px;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    margin-top: -22px;
    margin-left: -22px;
    top: 50%;
    left: 50%;
    z-index: 101;
}

body.nav-active .hamburger .bun {
    transform: rotate(45deg);
}

body.nav-active .hamburger .bun:nth-child(2) {
    transform: rotate(-45deg);
}

.nav-full-screen {
    display: none;
    z-index: 101;
}

.nav-full-screen nav {
    height: 100%;
}

.nav-full-screen nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav-full-screen nav ul li {
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 11px;
    cursor: pointer;
    position: relative;
}

.nav-full-screen nav ul a {
    padding: 11px 0;
    color: #343434;
    text-decoration: none;
}

.nav-full-screen nav li a::after {
    content: '';
    height: 1.5px;
    width: 44px;
    background: currentColor;
    position: absolute;
    left: 50%;
    margin-left: -22px;
    bottom: 0;
    opacity: 0;
    transform: scaleX(0);
    transition: 1s transform cubic-bezier(.23,1,.32,1);
}

.nav-full-screen nav li:hover a::after {
    opacity: 1;
    transform: scaleX(1);
}