doctype html
html
  head
    meta(charset='utf-8')
    meta(name='author', content='vita')
    title= '动视文化传媒'
    link(rel='shortcut icon', href='XXX', type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    
    // Cover
    .slide#slide1(data-slide = '1', data-stellar-background-ratio = '0.3')
      img.center.dongshi1(src = '/images/dongshi1.png', data-stellar-ratio = '1.5', alt = "Dongshi Logo")
      img.center.dongshi2(src = '/images/dongshi2.png', data-stellar-ratio = '1',   alt = "Dongshi Logo")
      a.button(data-slide = '2')

    // Bio
    .slide#slide2(data-slide = '2', data-stellar-background-ratio = '0.3')

  script(src = '/javascripts/jquery-1.9.1.min.js')
  scirpt(src = '/javascripts/jquery.stellar.min.js')
  scirpt(src = '/javascripts/warpoints.min.js')
  script(src = '/javascripts/jquery.easing.1.3.js')
  script(src = '/javascripts/index.js')