/*Designed by vita
nononono.content
Aug. 2014*/
html, body {
	height: 100%;
}
.button {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 40px;
	left:50%;
	margin-left: -30px;
	opacity: 0.75;
	background: url(../images/arrow.png);
	-webkit-transition: all .2s ease-in 0s;
	z-index: 9999;
	-webkit-transform: scale(0.8);
}
.button:hover {
	opacity: 1;
	cursor: pointer;
	-webkit-transform: scale(1, 1);
}
.slide {
	width: 100%;
	height: 100%;
	position: relative;
}
.center {
	position: absolute;
	top:50%;
	left:50%;
	z-index: 1;
}
/* Slide 1 */
@-webkit-keyframes 'first-down-btn'
{
50% {-webkit-transform: scale(0.8);}
60% {-webkit-transform: scale(0.95);}
65% {-webkit-transform: scale(0.61);}
70% {-webkit-transform: scale(0.8);}
100 {-webkit-transfrom: scale(0.8);}
}
@-webkit-keyframes 'name-in'
{
0% {opacity: 0; -webkit-transform:translate(0px, -50px);}
100% {opacity: 1; -webkit-transform:translate(0px,0px);}  
}
#slide1 {
	background: url(../images/bg1.jpg);
	background-size: cover;
	position: relative;
}
#slide1 .button {
	-webkit-animation: first-down-btn 2.7s ease-in-out 0s infinite;
}
#slide1 .button:hover {
	-webkit-animation: none;
}
.dongshi1 {
	width: 140px;
	margin-top: -170px;
	margin-left:-70px;
	opacity: 0;
	-webkit-animation:name-in 0.7s ease-out 0.2s 1 forwards;
	-moz-animation:name-in 0.7s ease-out 0.2s 1 forwards;
}
.dongshi2 {
	width: 450px;
	opacity: 0;
	margin-top: -30px;
	margin-left: -225px;
	-webkit-animation:name-in 0.7s ease-out 1.3s forwards;
}
/* Slide 2 */
#slide2 {
	background: #EEE url(../images/bg-tile.png);
	box-shadow: inset 0 -15px 30px rgba(0, 0, 0, 0.15);
}
/* Slide 3 */
#slide3 {
	background: #000;
}
/* Slide 4 */
#slide4 {
	background: url(../images/bg5.jpg);
	background-size: cover;
}